.header {
  margin-bottom: rem(3px);/* rem(4px); */
  height: rem(30px);/* rem(48px); */
  background-color: #d9d9d9;
  box-shadow: rem(0px) rem(3px) #000000;/* rem(0px) rem(4px) #000000; */
  position: relative;
  font-family: 'VT323', monospace;
}

@font-face {
	font-family: 'VT3232';
	/* src: url('/fonts/VT323-Regular.ttf') format('truetype'); */
	src: local("VT323-Regular"),
    url("/fonts/VT323-Regular.ttf") format("truetype");
  }

.header::before,
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;

}

.header::before {
  border-left: rem(3px) solid #ffffff;/* rem(4px) solid #ffffff; */
  border-top: rem(3px) solid #ffffff;/* rem(4px) solid #ffffff; */
}

.header::after {
  border-right: rem(3px) solid #939393;/* rem(4px) solid #939393; */
  border-bottom: rem(3px) solid #939393;/* rem(4px) solid #939393; */
}

.inner {
  height: 100%;
  padding-left: rem(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  /* padding: rem(8px) rem(12px); */
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;

  font-family: 'VT323';

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.linkLabel {
  margin-right: rem(5px);
}
