.header {
  margin-bottom: var(--borders-size);/* rem(4px); */
  padding: var(--borders-size);
  height: rem(30px);/* rem(48px); */
  background-color: #d9d9d9;
  box-shadow: rem(0px) var(--borders-size) #000000;/* rem(0px) rem(4px) #000000; */
  position: relative;
  font-family: 'VT323', monospace;
  font-size: var(--mantine-font-size-xl);
}

@font-face {
	font-family: 'VT3232';
	/* src: url('/fonts/VT323-Regular.ttf') format('truetype'); */
	src: local("VT323-Regular"),
    url("/fonts/VT323-Regular.ttf") format("truetype");
  }

.header::before,
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;

}

.header::before {
  border-left: var(--borders-size) solid #ffffff;/* rem(4px) solid #ffffff; */
  border-top: var(--borders-size) solid #ffffff;/* rem(4px) solid #ffffff; */
}

.header::after {
  border-right: var(--borders-size) solid #939393;/* rem(4px) solid #939393; */
  border-bottom: var(--borders-size) solid #939393;/* rem(4px) solid #939393; */
}

.inner {
  height: 100%;
  padding-left: rem(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  /* display: block; */
  padding-left: rem(4px);
  padding-right: rem(4px);
  /* vertical-align: middle; */
  /* line-height: 1.2; */
  height: 100%;
  /* padding: rem(8px) rem(12px); */
  /* border-radius: var(--mantine-radius-sm); */
  text-decoration: none;
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-dark-0));
  /* font-size: var(--mantine-font-size-xl); */
  /* font-weight: 500; */
  /* font-family: 'VT323'; */

  @mixin hover {
    background-color: light-dark(var(--mantine-color-purple-8), var(--mantine-color-dark-0));
    color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-0));

  }
}

.linkMenu {
 /* background-color: red; */
 top: calc(30px + var(--borders-size)) !important;
 border-radius: 0;
 border: var(--borders-size) solid #000000;
 box-shadow: var(--borders-size) var(--borders-size) #000000;/* rem(0px) rem(4px) #000000; */
}

.linkLabel {
  /* margin-right: rem(5px); */
}

.menuBar {
  padding-right: rem(10px);
  line-height: 1.2;
}