body {
  --mantine-color-body: light-dark(var(--mantine-color-macBlue-6), var(--mantine-color-dark-0));
  /* background-color: light-dark(var(--mantine-color-macBlue-6), var(--mantine-color-dark-0)) !important; */
  --borders-size: 2px;
  height: 100vh;
}
