.windowOuter {
  border: rem(3px) solid black;
  box-shadow: rem(3px) rem(3px) #000000; /* rem(0px) rem(4px) #000000; */
  position: relative;
  background-color: #aaaaaa;
  padding: rem(30px) rem(9px) rem(9px) rem(9px);
}

.windowOuter::before,
.windowOuter::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.windowOuter::before {
  border-left: rem(3px) solid #ffffff; /* rem(4px) solid #ffffff; */
  border-top: rem(3px) solid #ffffff; /* rem(4px) solid #ffffff; */
}

.windowOuter::after {
  border-right: rem(3px) solid #939393; /* rem(4px) solid #939393; */
  border-bottom: rem(3px) solid #939393; /* rem(4px) solid #939393; */
}

.windowInner {
  background-color: #d9d9d9;
  height: 100%;
  position: relative;
  border: rem(3px) solid black;
}

.windowInner::before,
.windowInner::after {
  content: '';
  position: absolute;
  top: rem(-6px);
  left: rem(-6px);
  bottom: rem(-6px);
  right: rem(-6px);
  pointer-events: none;
}

.windowInner::before {
  border-right: rem(3px) solid #ffffff; /* rem(4px) solid #ffffff; */
  border-bottom: rem(3px) solid #ffffff; /* rem(4px) solid #ffffff; */
}

.windowInner::after {
  border-top: rem(3px) solid #939393; /* rem(4px) solid #939393; */
  border-left: rem(3px) solid #939393; /* rem(4px) solid #939393; */
}

.dragHandle {
	/* background-color: red; */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	z-index: 3;
	touch-action: none;
	cursor: pointer;
}