.retroBox {
  outline: var(--borders-size) solid black;
  /* background-color: #f50303; */
  /* display: inline-block; */
  border-radius: 0;
  position: relative; /*?????*/
  /* padding: calc(var(--borders-size) * 3)  */
}

.retroBox::before,
.retroBox::after {
  content: '';
  position: absolute;
  /* background-color: aqua; */
  top: calc(var(--borders-size) * -2);
  left: calc(var(--borders-size) * -2);
  bottom: calc(var(--borders-size) * -2);
  right: calc(var(--borders-size) * -2);
  pointer-events: none;
}

.retroBox::before {
  border-right: var(--borders-size) solid #ffffff;
  border-bottom: var(--borders-size) solid #ffffff;
}

.retroBox::after {
  border-left: var(--borders-size) solid #939393;
  border-top: var(--borders-size) solid #939393;
}

.retroButton {
  background-color: #D7D7D7;
  border: var(--borders-size) solid #333333;
  border-radius: 0;

}

.retroButton::before,
.retroButton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.retroButton::before {
  border-left: var(--borders-size) solid #F0F0F0;
  border-top: var(--borders-size) solid #F0F0F0;
}

.retroButton::after {
  border-right: var(--borders-size) solid #ABABAB;
  border-bottom: var(--borders-size) solid #ABABAB;
}